.container {
    background-color: var(--color-yellow-white);
    height: 327px;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 288px;
}

.box {
    width: 100%;
    height: 239px;
    flex-shrink: 0;
    background: #2B2024;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line_shadow {
    width: 100%;
    height: 35px;
    flex-shrink: 0;
    fill: #2B2024;
    margin-top: 53px;
}

.title_box {
    color: #FAFAFA;
    font-family: Agency FB;
    font-size: 41px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    width: 380px;
    height: 118px;
    flex-shrink: 0;
    margin-left: 97px;
    position: relative;
}

.title_box_logo {
    color: #CF4044;
    font-family: Agency FB;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    bottom: 19px;
    right: 73px;
}

.title_line {
    position: absolute;
    bottom: 18px;
    right: 156px;
}

.input_box {
    border-radius: 17px;
    background: #FAFAFA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 160px;
    height: 47px;
    flex-shrink: 0;
    color: #2B2024;
    font-family: Agency FB;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 16px;
    margin-right: 10px;
}

.btn_cal {
    width: 180px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #CF4044;
    color: #FAFAFA;
    font-family: Agency FB;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.44px;
    margin-right: 97px;
}

.btn_cal:hover {
    opacity: 0.8;
}