.container {
    width: 100%;
    flex-shrink: 0;
    background-color: var(--color-yellow-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #2B2024;
    text-align: center;
    font-family: Agency FB;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 115px;
}

.slider {
    display: flex;
    width: 1600px;
    height: 500px;
    background: #FFF;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.10);
    padding: 149px;
    position: relative;
    margin-bottom: 155px;
}

.slider_title {
    color: #CF4044;
    font-family: Agency FB;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.92px;
    display: flex;
    margin-right: 100px;
}

.slider_review {
    position: relative;
}

.slider_avt {
    width: 91px;
    height: 91px;
    flex-shrink: 0;
    margin-right: 28px;
    margin-bottom: 28px;
}

.avt_name_star {
    display: flex;
    align-items: center;
    color: #CF4044;
}

.name {
    color: #CF4044;
    font-family: Agency FB;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.92px;
}

.slider_cmt {
    color: #2B2024;
    font-family: Agency FB;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.44px;
    width: 761px;
    height: 151px;

}

.cmt_line {
    color: #2B2024;
    font-family: Alfa Slab One;
    font-size: 172px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 10.32px;
    opacity: 0.1;
    position: absolute;
    top: -96px;
    right: -96px;
}

.slider_btn {
    display: flex;
    position: absolute;
    display: flex;
    position: absolute;
    right: 157px;
    bottom: 12px;
}

.slider_btn>button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #CF4044;
    margin: 0 15px;
    font-size: 30px;
}

.slider_btn>button:active {
    color: #e9e8e9;
}