.tab_info {
    display: flex;
    width: 1169px;
    height: 440px;
    padding: 20px;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #F1F1F5;
    background: #FAFAFB;
}

.video_author {
    color: #696974;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    font-family: Poppins;
    line-height: normal;
}