.kyoRoundLogo1 {
    width: 130px;
    height: 160px;
}

.appBar {
    background-color: #37383c !important;
    box-shadow: unset;
}

.container {
    background-color: #37383c !important;
    border-radius: 11px;
    margin-top: 20px;
    padding-left: 10px !important;
    padding-right: 57px !important;
}

.menuItem {
    margin-left: 40px;
}

.menuItem:hover {}

.menuItemText {
    font-size: 17px !important;
    color: #fff !important;
    margin: 0 8px !important;
    line-height: 0.1 !important;
}

.SearchIconWrapper {
    padding: 0px 12px;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Search {
    position: relative;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.15);
    margin-right: 8px;
    margin-left: 0;
}

.Search:hover {
    background-color: rgba(255, 255, 255, 0.25);
}