.collection {
    display: flex;
    flex-wrap: wrap;
    padding-left: 152px;
}

.collection_card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1rem;
    margin: 0.5rem;
    background-color: #fff;
    width: 25rem !important;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 3px 3px 8px 0px rgba(197, 205, 236, 0.60);
}

.collection_card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.11), 11px 15px 8px 0px rgba(197, 205, 236, 0.60);
    transition: 0.3s;
}

.card_body {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}

.collection_title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
}

.collection_description {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 0.75rem;
}

.collection_duration {
    font-style: italic;
    color: #868e96;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 334px;
}

.btn {
    background-color: var(--color-red-body);
    display: flex;
    padding: 9px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: unset;
    color: #fff;
}

.line {
    width: 334px;
    height: 30px;
    flex-shrink: 0;
    stroke-width: 0.5px;
    stroke: #6A6B6C;
}

.star {
    color: #ffc800;
}

.rating {
    display: flex;
    width: 100%;
    color: #6A6B6C;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 22.5px */
}

.img {
    width: 366px;
    height: 244px;
}