.container {
    display: flex;
    width: 342px;
    height: 586px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 3px 3px 8px 0px rgba(197, 205, 236, 0.60);
}

.item {
    width: 293px;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    padding: 24px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.selected,
.item:hover {
    border-radius: 8px;
    background: #EDF1FF;
}