.tab_info_cmt {
    width: 1170px;
    max-height: 600px;
    padding: 10px;
    display: flex;
}

.commentContainer {
    list-style: none;
    padding: 10px 0px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.summitComment {
    display: flex;
    flex-direction: column;
    margin-left: 42px;
    margin-bottom: 30px;
    width: 38rem;
}

.avatarNameContainer {
    display: flex;
    align-items: center;
}

.avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.commentInfo {
    flex: 1;
}

.name {
    font-weight: bold;
    margin-bottom: 5px;
}

.commentText {
    font-size: 1rem;
    margin-top: 5px;
}

.ratingContainer {
    display: flex;
    justify-content: flex-end;
}

.rating {
    color: #888888;
    font-size: 0.8rem;
}

.commentBox {
    margin-left: 147px;
    border-radius: 11px;
    padding: 9px;
    background-color: #f0ece8;
}

.commentInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 100%;
    overflow-y: auto;
}

.commentSubmit {
    padding: 8px 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 126px;
}

.commentSubmit:hover {
    background-color: #0056b3;
}

.customerReview {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ulComment {
    max-height: 300px;
    overflow-y: auto;
    padding: 5px 20px;
    margin-left: 20px;
    width: 100%;
    height: 100%;
}

.tab_info_cmt {
    color: #000;
    max-height: 440px;
    overflow-y: auto;
}

.customerReview>h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    width: 100%;
}

.ava_name {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.boxRating {
    display: flex;
    justify-content: center;
}

.star {
    margin: 0px 1px;
    font-size: 20px !important;
}

.starRating {
    margin: 20px 0px;
}

.commentRating {}

.ulComment {
    background-color: #fafafb;
    overflow-y: auto;
    border-radius: 8px;
    scrollbar-width: thin;
    scrollbar-color: dark transparent;
}

.ulComment::-webkit-scrollbar {
    width: 6px;
}

.ulComment::-webkit-scrollbar {
    display: initial !important;
}

.ulComment::-webkit-scrollbar-thumb {
    background-color: dark;
}

.ulComment::-webkit-scrollbar-track {
    background-color: transparent;
}