.chart {
    background-color: #fff !important;
    border-radius: 8px !important;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #6c757d;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 600 !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}